@using Microsoft.AspNetCore.Identity
@using App.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="mb-0">
        <ul class="navbar-nav align-items-sm-center">
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-1" asp-area="Identity" asp-controller="Manage"
                   asp-action="Index" title="Quản lý tài khoản">
                    <span>Xin chào,</span>
                    <span class="fw-semibold">@UserManager.GetUserName(User)!</span>
                </a>
            </li>
            <li class="nav-item">
                <button type="submit" class="nav-link border-0 bg-transparent">Đăng xuất</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav align-items-sm-center">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register">Đăng ký</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Login">Đăng nhập</a>
        </li>
    </ul>
}
