@{
    var message = TempData["StatusMessage"] as string;
}

@if (!string.IsNullOrEmpty(message))
{
    var isError =
        message.StartsWith("Error", StringComparison.OrdinalIgnoreCase)
        || message.StartsWith("Lỗi", StringComparison.OrdinalIgnoreCase)
        || message.StartsWith("Không thể", StringComparison.OrdinalIgnoreCase);
    var statusMessageClass = isError ? "danger" : "success";

    <div class="alert alert-@statusMessageClass alert-dismissible fade show" role="alert">
        @message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Đóng"></button>
    </div>
}
