@page "/aboutRazer.cshtml"
@{
    ViewData["Title"] = "Razer";
    Layout = "_Layout";
}
<h1>Giới thiệu về Razer page</h1>

<p>Razer page là một trang web được xây dựng bằng công nghệ Razor Pages trong ASP.NET Core.</p>